.flexB {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.container {
	padding: 20px;
	justify-content: center;
}

ul {
	list-style: none;
}

.todolist {
	margin-top: 10px;

}

.list {
	width: 30%;
}

/*.todolistcont {
	transition: height 1s;
}*/

body {
	background-color: #50FFFA;
}

h1 {
	text-align: center;
	font-size: 100px;
}

li.valide {
	text-decoration: line-through;
}

.cach {
	display: none;
}

.titres {
	padding-top: 10px;
	font-size: 20px;
}